@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

form {
  width: 10rem;
}

h2.titulocontacto {
  text-align: right;
}

h3.titulocontacto {
  text-align: right;
}

section {
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

section {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

article {
  display: flex;
  flex: 0 1 300px;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #647a4b;
}

article img {
  order: -1;
  align-self: center;
}

article button {
  background: black;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

body {
  background-color: #f5e8da;
  background-image: linear-gradient(to right, #f5edda, #f5edda);
}

.header {
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.menu {
  float: right;
  line-height: 75px;
}

.menu a {
  color: rgb(85, 79, 79);
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  line-height: normal;
  font-size: 14px;
  transition: all 500ms ease;
  border-bottom: 4px solid transparent;
}

.menu a:hover {
  color: black;
  border-bottom: 4px solid black;
}

div.noticia {
  width: 80%;
  margin: 20px auto;

  color: rgb(0, 0, 0);
  padding: 5px;
}

div.noticia img.rounded {
  float: left;
  margin-right: 15px;
}

div.noticia img.rounded {
  float: right;
  margin-left: 15px;
}

div.reset {
  clear: both;
}

.p1 {
  text-align: right;
}

.animate__slideInLeft {
  animation-duration: 2s;
  text-align: justify;
}

.animate__bounceInDown {
  animation-duration: 2s;
}

.titulocontacto {
  text-align: center;
}
.textocategoria {
  text-align: justify;
}

.textocc {
  text-align: justify;
}

.nav-bars {
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
}
