article {
  display: flex;
  flex: 0 1 300px;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #9ca5b9;
}

article img {
  order: -1;
  align-self: center;
}

article button {
  background: black;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}
section {
  box-sizing: border-box;
}
section {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
